<h1>Mapa del delito</h1>

<div class="mapContainer">
    <google-map center="map.center" zoom="map.zoom">
        <markers>
            <marker ng-repeat="homicidio in homicidios" coords='homicidio.gps' icon="markerIcon.gun">
                <window>
                    <p>{{homicidio.resumen}}</p>
                    <p>Comisaria: {{homicidio.comisaria}}</p>
                </window>

            </marker>

        </markers>

    </google-map>
</div>

<blockquote>
    Version 0.5
</blockquote>